name: Publish To Ansible Galaxy

on:
  release:
    types:
      - published

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Update galaxy.yml version
      run: ./.github/scripts/tag_version.sh
    - uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: Updating galaxy.yml to match tag version
        branch: main
    - name: Deploy the collection
      uses: artis3n/ansible_galaxy_collection@v2
      with:
        api_key: ${{ secrets.GALAXY_API_KEY }}
        galaxy_version: '${{ env.RELEASE_VERSION }}'
